@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
    font-family: 'Comfortaa';
}

.star {
    width: 1.2rem;
    height: 1.5rem;

#searchBar {
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    width: 232px;
    height: 38px;
    margin: auto;
}